<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <title>Tytul</title>
</head>
<body>
   -----
   <nav>
       <a href="/">Strona główna</a>
       <a href="/auth/signup">Rejestracja</a>
       <a href="/auth/signin">Logowanie</a>
       <a href="/tags">tagi</a>
       <a href="/gallery">galeria</a>
   </nav>
<div class="container mt-2">
   <%- body %>
</div>
   -----
</body>
</html>