<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <title>Tytul</title>
</head>
<body>
    <div class="container mt-2">
        <h1>Nazwa taga: {{tag.description}}</h1>
        <a href="/tags">powrót</a>
    </div>
</body>
</html>